previousPMs/PM1.3/Manufacturer_client/web/WEB-INF/wsdl/localhost_8080/soen487-w18-team07/manufacturerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soen487/" name="manufacturerService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soen487/" schemaLocation="http://localhost:8080/soen487-w18-team07/manufacturerService?xsd=1"/>
</xsd:schema>
</types>
<message name="receivePayment">
<part name="parameters" element="tns:receivePayment"/>
</message>
<message name="receivePaymentResponse">
<part name="parameters" element="tns:receivePaymentResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="getProductInfo">
<part name="parameters" element="tns:getProductInfo"/>
</message>
<message name="getProductInfoResponse">
<part name="parameters" element="tns:getProductInfoResponse"/>
</message>
<message name="URISyntaxException">
<part name="fault" element="tns:URISyntaxException"/>
</message>
<message name="processPurchaseOrder">
<part name="parameters" element="tns:processPurchaseOrder"/>
</message>
<message name="processPurchaseOrderResponse">
<part name="parameters" element="tns:processPurchaseOrderResponse"/>
</message>
<portType name="ManufacturerService">
<operation name="receivePayment">
<input wsam:Action="http://service.soen487/ManufacturerService/receivePaymentRequest" message="tns:receivePayment"/>
<output wsam:Action="http://service.soen487/ManufacturerService/receivePaymentResponse" message="tns:receivePaymentResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/ManufacturerService/receivePayment/Fault/JAXBException"/>
</operation>
<operation name="getProductInfo">
<input wsam:Action="http://service.soen487/ManufacturerService/getProductInfoRequest" message="tns:getProductInfo"/>
<output wsam:Action="http://service.soen487/ManufacturerService/getProductInfoResponse" message="tns:getProductInfoResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/ManufacturerService/getProductInfo/Fault/JAXBException"/>
<fault message="tns:URISyntaxException" name="URISyntaxException" wsam:Action="http://service.soen487/ManufacturerService/getProductInfo/Fault/URISyntaxException"/>
</operation>
<operation name="processPurchaseOrder">
<input wsam:Action="http://service.soen487/ManufacturerService/processPurchaseOrderRequest" message="tns:processPurchaseOrder"/>
<output wsam:Action="http://service.soen487/ManufacturerService/processPurchaseOrderResponse" message="tns:processPurchaseOrderResponse"/>
</operation>
</portType>
<binding name="ManufacturerServicePortBinding" type="tns:ManufacturerService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="receivePayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="getProductInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="URISyntaxException">
<soap:fault name="URISyntaxException" use="literal"/>
</fault>
</operation>
<operation name="processPurchaseOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="manufacturerService">
<port name="ManufacturerServicePort" binding="tns:ManufacturerServicePortBinding">
<soap:address location="http://localhost:8080/soen487-w18-team07/manufacturerService"/>
</port>
</service>
</definitions>