previousPMs/PM3.2/XMLReaderBPEL/src/XMLReader.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soen487/" name="ReaderWs">
<types>
<xs:schema xmlns:tns="http://service.soen487/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.soen487/">
<xs:element name="Exception" type="tns:Exception"/>
<xs:element name="parser" type="tns:parser"/>
<xs:element name="parserResponse" type="tns:parserResponse"/>
<xs:complexType name="parser">
<xs:sequence>
<xs:element name="uri" type="xs:string" minOccurs="0"/>
<xs:element name="type" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="parserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</types>
<message name="parser">
<part name="parameters" element="tns:parser"/>
</message>
<message name="parserResponse">
<part name="parameters" element="tns:parserResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="ReaderWs">
<operation name="parser">
<input wsam:Action="http://service.soen487/ReaderWs/parserRequest" message="tns:parser"/>
<output wsam:Action="http://service.soen487/ReaderWs/parserResponse" message="tns:parserResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.soen487/ReaderWs/parser/Fault/Exception"/>
</operation>
</portType>
<binding name="ReaderWsPortBinding" type="tns:ReaderWs">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="parser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="ReaderWs">
<port name="ReaderWsPort" binding="tns:ReaderWsPortBinding">
<soap:address location="http://localhost:8080/soen487-w18-team07/ReaderWs"/>
</port>
</service>
</definitions>