previousPMs/PM1.3/WarehouseClient/web/WEB-INF/wsdl/localhost_8080/soen487-w18-team07/warehouseService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.soen487/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.soen487/" name="warehouseService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.soen487/" schemaLocation="http://localhost:8080/soen487-w18-team07/warehouseService?xsd=1"/>
</xsd:schema>
</types>
<message name="inventoryManufacturer">
<part name="parameters" element="tns:inventoryManufacturer"/>
</message>
<message name="inventoryManufacturerResponse">
<part name="parameters" element="tns:inventoryManufacturerResponse"/>
</message>
<message name="shipGoods">
<part name="parameters" element="tns:shipGoods"/>
</message>
<message name="shipGoodsResponse">
<part name="parameters" element="tns:shipGoodsResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="replenish">
<part name="parameters" element="tns:replenish"/>
</message>
<message name="replenishResponse">
<part name="parameters" element="tns:replenishResponse"/>
</message>
<message name="loadInventory">
<part name="parameters" element="tns:loadInventory"/>
</message>
<message name="loadInventoryResponse">
<part name="parameters" element="tns:loadInventoryResponse"/>
</message>
<message name="ship">
<part name="parameters" element="tns:ship"/>
</message>
<message name="shipResponse">
<part name="parameters" element="tns:shipResponse"/>
</message>
<portType name="WarehouseService">
<operation name="inventoryManufacturer">
<input wsam:Action="http://service.soen487/WarehouseService/inventoryManufacturerRequest" message="tns:inventoryManufacturer"/>
<output wsam:Action="http://service.soen487/WarehouseService/inventoryManufacturerResponse" message="tns:inventoryManufacturerResponse"/>
</operation>
<operation name="shipGoods">
<input wsam:Action="http://service.soen487/WarehouseService/shipGoodsRequest" message="tns:shipGoods"/>
<output wsam:Action="http://service.soen487/WarehouseService/shipGoodsResponse" message="tns:shipGoodsResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/WarehouseService/shipGoods/Fault/JAXBException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.soen487/WarehouseService/shipGoods/Fault/Exception"/>
</operation>
<operation name="replenish">
<input wsam:Action="http://service.soen487/WarehouseService/replenishRequest" message="tns:replenish"/>
<output wsam:Action="http://service.soen487/WarehouseService/replenishResponse" message="tns:replenishResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/WarehouseService/replenish/Fault/JAXBException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.soen487/WarehouseService/replenish/Fault/Exception"/>
</operation>
<operation name="loadInventory">
<input wsam:Action="http://service.soen487/WarehouseService/loadInventoryRequest" message="tns:loadInventory"/>
<output wsam:Action="http://service.soen487/WarehouseService/loadInventoryResponse" message="tns:loadInventoryResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/WarehouseService/loadInventory/Fault/JAXBException"/>
</operation>
<operation name="ship">
<input wsam:Action="http://service.soen487/WarehouseService/shipRequest" message="tns:ship"/>
<output wsam:Action="http://service.soen487/WarehouseService/shipResponse" message="tns:shipResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://service.soen487/WarehouseService/ship/Fault/JAXBException"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.soen487/WarehouseService/ship/Fault/Exception"/>
</operation>
</portType>
<binding name="WarehouseServicePortBinding" type="tns:WarehouseService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="inventoryManufacturer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="shipGoods">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="replenish">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="loadInventory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="ship">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="warehouseService">
<port name="WarehouseServicePort" binding="tns:WarehouseServicePortBinding">
<soap:address location="http://localhost:8080/soen487-w18-team07/warehouseService"/>
</port>
</service>
</definitions>